.popup {
  width: 500px;
  height: fit-content;
  max-height: 80vh;

  position: fixed;
  margin: auto;
  top : 0;
  bottom: 0;
  left: 0;
  right: 0;

  border: 1px solid #e5e7eb;
  border-radius: 14px;
  padding: 16px;
  gap: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: white;
  z-index: 1000;
}

.popup-row.setting {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popup-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}

.popup-row-item {
  display: flex;
  flex-direction: column;
  flex : 1;
}

.popup-row label {
  font-size: 18px; font-weight: 800; margin: 0;
}

.popup-row.setting label:nth-child(1) {
  font-size: 23px;
  margin-bottom: 5px;
}


.popup-input {
  border: 1px solid rgb(229, 231, 235);
  border-radius: 5px;
  font-size: 14px;
  font-weight: 400;
  padding: 6px;
  width: 100%;
  margin-top: 5px;
}

.popup-select{
  width: 100%;
  border: 1px solid rgb(229, 231, 235);
  border-radius: 5px;
  padding: 6px;
  margin-top: 5px;
}

.popup-row button {
  width: 100%;
  padding: 10px 18px;
  margin-top: 25px;

  border-radius: 20px;
  border: none;

  background-color: #FF6B6B;
  color: white;

  font-size: 15px;
  font-weight: bold;
}

.popup-hidden {
  display: none !important;
}

#popup-close, .controls .search .input, .popup-row button {
  cursor: pointer;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.no-result {
  padding: 50px 0;
  font-size: 20px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
}