<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stale.mate.main.mapper.MainMapper">

	<select id="selectLostandfoundList" resultType="Post">
  		SELECT *
  			FROM (
    			SELECT
        		P.POST_NO,
        		P.POST_TITLE,
				P.LOCATION,
				P.MISSING_DATE,
        		P.MISSING_TIME,
        		P.CATEGORY,
        	   (
            	SELECT I.IMG_PATH || I.IMG_RENAME
            	FROM POST_IMG I
           		WHERE I.POST_NO = P.POST_NO
             	ORDER BY I.IMG_NO ASC
            	FETCH FIRST 1 ROWS ONLY
        	   ) AS thumbnail
    	FROM POST P
    	WHERE P.CATEGORY IN ('실종', '목격')
    	AND P.POST_DELETE = 'N'
    	ORDER BY P.POST_NO DESC
  				)
		WHERE ROWNUM <![CDATA[<=]]> 4
	</select>
	
	<select id="selectAdoptionList" resultType="Post">
  		SELECT *
  			FROM (
    			SELECT
        		P.POST_NO,
        		P.POST_TITLE,
				P.LOCATION,
				P.MISSING_DATE,
        		P.MISSING_TIME,
        		P.VIEWS,
        		P.CATEGORY,
        	   (
				SELECT COUNT(*)
				FROM REPLY R
				WHERE R.POST_NO = P.POST_NO
			   ) AS replyCount,
			   CASE
			   	WHEN INSTR(P.CONTENT, CHR(10)) > 0
        		THEN SUBSTR(P.CONTENT, 1, INSTR(P.CONTENT, CHR(10)) - 1)
        		ELSE SUBSTR(P.CONTENT, 1, 50)
        	   END AS preview,
        	   (
            	SELECT I.IMG_PATH || I.IMG_RENAME
            	FROM POST_IMG I
           		WHERE I.POST_NO = P.POST_NO
             	ORDER BY I.IMG_NO ASC
            	FETCH FIRST 1 ROWS ONLY
        	   ) AS thumbnail
    	FROM POST P
    	WHERE P.CATEGORY IN ('분양', '입양')
    	AND P.POST_DELETE = 'N'
    	ORDER BY P.POST_NO DESC
  				)
		WHERE ROWNUM <![CDATA[<=]]> 2		
	</select>

</mapper>