<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stale.mate.myPage.model.mapper.MyPageMapper">

	<!-- 프로필 정보 수정 -->
	<update id="profileUpdate">
		UPDATE "MEMBER" SET
	   	MEMBER_NAME = #{memberName},
	   	MEMBER_PHONE = #{memberPhone},
	   	PROFILE_IMG = #{profileImg},
		UPDATE_DATE = SYSDATE
	   	WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 비밀번호 조회 -->
	<select id="selectPw">
		SELECT MEMBER_PW
		FROM "MEMBER"
		WHERE MEMBER_NO = #{memberNo}
	</select>
	
	<!--  비밀번호 변경  -->
	<update id="changePw">
		UPDATE "MEMBER" SET
		MEMBER_PW = #{encPw},
		UPDATE_DATE = SYSDATE
		WHERE MEMBER_NO = #{memberNo}
	</update>
	
	<!-- 회원탈퇴 -->
	<update id="deleteMember">
		UPDATE "MEMBER" SET
		MEMBER_DEL_FL = 'Y',
		UPDATE_DATE = SYSDATE
		WHERE MEMBER_NO = #{memberNo}
	</update>

	<!-- 회원 정보 가져오기 -->
	<select id="getLoginMemberInfo">
		SELECT MEMBER_NO, MEMBER_ID, MEMBER_NAME,
		MEMBER_PW, AUTHORITY, PROFILE_IMG,
		ENROLL_DATE, MEMBER_PHONE
		FROM "MEMBER"
		WHERE MEMBER_ID = #{memberId}
		AND MEMBER_DEL_FL = 'N' 
	</select>

	<!-- 신고 데이터 개수 가져오기 -->
	<select id="getReportCount">
		SELECT COUNT(*) FROM REPORT
	</select>

	<!-- 신고 데이터 목록 가져오기 -->
	<select id="selectReportList">
		SELECT A.POST_NO, A.CATEGORY, A.POST_TITLE, A.CONTENT, B.MEMBER_NAME AS "reporterName", C.REPORT_REASON,
		<![CDATA[
			CASE
				WHEN SYSDATE - CAST(C.REPORT_DATE  AS DATE) < 1 / 24 / 60
				THEN FLOOR((SYSDATE - CAST(C.REPORT_DATE AS DATE)) * 24 * 60 * 60) || '초 전'
				
				WHEN SYSDATE - CAST(C.REPORT_DATE AS DATE) < 1 / 24
				THEN FLOOR((SYSDATE - CAST(C.REPORT_DATE AS DATE)) * 24 * 60) || '분 전'
				
				WHEN SYSDATE - CAST(C.REPORT_DATE AS DATE) < 1
				THEN FLOOR((SYSDATE - CAST(C.REPORT_DATE AS DATE)) * 24) || '시간 전' 
				
				ELSE TO_CHAR(C.REPORT_DATE, 'YYYY.MM.DD')
			END REPORT_DATE
		]]>
		FROM POST A
		JOIN REPORT C ON A.POST_NO = C.POST_NO 
		JOIN MEMBER B ON C.MEMBER_NO = B.MEMBER_NO
		WHERE A.POST_NO IN (SELECT POST_NO FROM REPORT) 
		AND A.POST_DELETE = 'N'
		ORDER BY C.REPORT_DATE DESC
	</select>
</mapper>